:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-layout {
  display: flex;
  height: calc(100vh - 70px);
}

.main-content {
  flex: 1;
  min-width: 0;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: auto;
}